*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  color: #0f172a;
  background: #ffffff;
}

.navbar{
  align-items: center;
  display: flex;
  padding: 20px 70px;
  justify-content: space-between;
}

.logo{
  height: 50px;
  width: 100px;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li{
  font-size: 15px;
  color:#334155;
  cursor:pointer;
}

.nav-btn{
  background: #22c55e;
  color:#fff;
  border:none;
  padding:10px 18px;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
}

