*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  color: #0f172a;
  background: #ffffff;
}

.navbar{
  align-items: center;
  display: flex;
  padding: 20px 70px;
  justify-content: space-between;
}