*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  color: #0f172a;
  background: #ffffff;
}

.navbar{
  align-items: center;
  display: flex;
  padding: 20px 70px;
  justify-content: space-between;
}

.logo{
  height: 50px;
  width: 100px;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li{
  font-size: 15px;
  color:#334155;
  cursor:pointer;
}

.nav-btn{
  background: #22c55e;
  color:#fff;
  border:none;
  padding:10px 18px;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  cursor:pointer;
}

.hero{
    background-image: url( ./assets/hero-bg.png);
    background-size:cover;
    background-position: center;
    padding:120px 80px;

    color:#fff;
}

.Early{
    background:#16a34a;
    padding:6px 14px;
    border-radius:15px;
    font-size:13px;
    display:inline-block;
    margin-bottom:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
}

.hero h1{
    font-size:52px;
    margin-bottom:20px;
}

.hero h1 span{
    color:#22c55e;
}

.hero p{
    max-width: 650px;
    font-size:18px;
    color:#cbd5f5;
    margin-bottom:25px;
}

.hero-buttons{
    display: flex;
    gap:15px;
}

.btn-1{
    background:#22c55e;
    color:#fff;
    border:none;
    padding:13px 20px;
    border-radius:10px;
    font-weight:600;
    cursor:pointer;
}

.btn-2{
    background:transparent;
    color:#fff;
    border:1px solid #94a3b8;
    padding:14px 22px;
    border-radius:10px;
    cursor:pointer;
}

.problem{
    padding:80px;
    text-align:center;
}

.problem h2{
    font-size:36px;
}

.subtitle{
    margin-top:10px;
    color:#64748b;
}

.problem-cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
    margin-top:50px;
}

.card{
    background:#fff;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.06);
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
}

.icon-warp{
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto 15px;
  background-color: #F95555;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.solution{
    padding:80px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:center;
}

.brain{
    width:320px;
    height:320px;
    background:#f8fafc;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:80px;
    margin:auto;
}

.solution-tag{
    font-size:14px;
    color:#22c55e;
    font-weight:600;
}

.solution h2{
    font-size:36px;
    margin:15px 0;
}

.solution ul{
    list-style:none;
}

.solution ul li{
    margin-bottom:12px;
    color:#334155;
}

.cta{
    background:#f8fafc;
    padding:70px 20px;
    text-align:center;
}

.cta h2{
    font-size:32px;
    margin-bottom:10px;
}

.cta p{
    color:#64748b;
    margin-bottom:25px;
}

.btn-primary{
    background: #22c55e;
  color:#fff;
  border:none;
  padding:10px 18px;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  cursor:pointer;
}
